PORT=3000
NODE_ENV=development

# Konfigurasi Database MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=uas_flixxmart

# Rahasia Token JWT
JWT_SECRET=secret_key_flixxmart

# Nomor WhatsApp Owner/Admin Toko (Gunakan format kode negara, tanpa '+' atau spasi)
OWNER_WA_NUMBER=6289527204180

# (Opsional) Token WhatsApp Gateway Fonnte jika ingin notifikasi terkirim otomatis di background
# FONNTE_TOKEN=isi_token_fonnte_anda_di_sini
